.Container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ContainerBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnProf{
    padding: 18px;
    background: linear-gradient(135deg,#64B5F6, #AB47BC);
    font-weight: 300;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Wrapper{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 15px;
    border-radius: 10px; 
}
.info{
  font-size: 18px;
  color: #616161;
  margin-bottom: 15px;
}
.backPage{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #1A237E;
}